.pagination {
    margin: 40px auto 0;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 34px;

    &__list {
        display: flex;
        align-items: center;
        margin: 0 48px;

        &-item {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        &-link {
            text-transform: uppercase;
            &--active{
                color: $radicalRed;
            }
        }
    }
    &__link {
        position: relative;
    
        &--prev {
            padding-left: 10px;
            position: relative;
    
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/dest/icons/prev.svg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                width: 5px;
                height: 10px;
            }
        }
    
        &--next {
            padding-right: 10px;
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/dest/icons/next.svg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                width: 5px;
                height: 10px;
            }
        }
    }
}

