.modal {
    max-width: 600px;
    padding-top: 100px;
    margin: 0 auto 115px;

    &__links {
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    &__link {
        font-size: 22px;

        color: #29282d;
        transition: color .3s;

        &:not(:last-child) {
            margin-right: 60px;
        }



        &:hover {
            color: $radicalRed;
        }

        &--active {
            color: $radicalRed;
            pointer-events: none;
        }
    }
}

.form {
    &__label {
        
        display: block;
        cursor: pointer;
        @extend %roboto-400;
        margin-bottom: 40px;

        &--check {
            display: block;
            margin: 60px 0 20px;
            cursor: pointer;
        }
    }

    &__input {
        display: block;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        margin-top: 5px;
        border: none;
        background-color: $lightGray;
        font-size: 16px;
        color: $colorText;
        line-height: 26px;
        @extend %quicksand-500;
        outline: transparent;
    }

    &__btn {
        display: block;
        width: 100%;
        padding: 24px 0;
        background-color: #292929;
        color: $white;
        border: none;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 20px;
        cursor: pointer;
        @extend %roboto-400;
    }
    &__text{
        margin-top: -20px;
        margin-bottom: -30px;
        &-item{
            &:not(:last-child){
                margin-bottom: 40px;
            }
        }
    }

    &__link-lost {
        color: $radicalRed;
    }
}