.footer {
    background-color: $lightGray;

    &__logo {
        margin-bottom: 10px;
    }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 76px 0px 40px;

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__item-title {
        font-size: 22px;
        @extend %roboto-400;
        color: $colorTitle;
        margin-bottom: 27px;
    }

    &__contact {
        width: 250px;
    }

    &__adres {
        line-height: 36px;
    }

    &__email {
        margin-top: 5px;
        margin-bottom: 10px;
        transition: color .5s;
        &:hover {
            color: $radicalRed;
        }
    }

    &__phone {
        margin-bottom: 20px;
        transition: color .5s;
        &:hover {
            color: $radicalRed;
        }
    }

    &__nav {
        width: 150px;
    }

    &__item-form {
        max-width: 470px;
        width: 100%;
    }
}

.footer-top__list {
    &-item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &-link {
        transition: color .5s;

        &:hover {
            color: $radicalRed;
        }
    }
}

.footer-top__social {
    &-link:not(:last-child) {
        margin-right: 15px;
    }
}

.fab {
    transition: color .5s;

    &:hover {
        color: $radicalRed;
    }
}

.footer-top__form {
    margin-top: 30px;
    font-size: 16px;
    line-height: 36px;

    &-input {
        max-width: 315px;
        width: 100%;
        height: 50px;
        padding: 0 30px;
        border: none;
        margin-right: 10px;
        @extend %quicksand-500;
            color: $colorText;
            font-size: 16px;
            line-height: 36px;

        &::placeholder {
            @extend %quicksand-500;
            color: $colorText;
            font-size: 16px;
            line-height: 36px;
        }
    }

    &-btn {
        background-color: $radicalRed;
        text-transform: uppercase;
        @extend %roboto-400;
        color: $white;
        border: none;
        height: 50px;
        width: 135px;
        text-align: center;
        cursor: pointer;
    }
}