$colorTitle : #29282d;
$colorText : #8d8d8d;
$radicalRed : #fe3e57;
$frenchGray : #ccccce;
$lightGray : #f6f6f6;
$white : #fff;


%quicksand-400{
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
}
%quicksand-500{
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
}
%roboto-400{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}
%roboto-700{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}